{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["airbnb"],
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["__filename", "__dirname"] }],
    "import/extensions": ["error", "always"]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  }
}
